/* ----- Client Section Styling ----- */
.client-section {
    background-color: #66c4e0;
    padding: 5px 0 0 0;
}

.clients .single {
    padding: 25px 0 25px 0;
}

.clients .single img {
    height: 35px; /* Ajusta la altura de la imagen a 25px */
    object-fit: contain; /* Asegura que las imágenes no se deformen, manteniendo su relación de aspecto */
}

/* Efecto hover para las imágenes */
.clients .single img:hover {
    opacity: 1; /* Cambia la opacidad cuando el mouse pasa sobre la imagen */
}

/* Estilos para el carrusel Owl */
.owl-carousel {
    display: block; /* Asegura que el carrusel sea visible */
    position: relative;
    width: 100%; /* Ocupa todo el ancho disponible */
}

/* Ajuste de las imágenes dentro de los items del carrusel */
.owl-carousel .owl-item img {
    width: 100%; /* Asegura que las imágenes ocupen el 100% del espacio disponible */
}

/* Estilos para ocultar los controles del carrusel */
.owl-nav, .owl-dots {
    display: none !important; /* Oculta los controles de navegación y paginación */
}

/* Ajuste en la animación y altura dinámica del carrusel */
.owl-carousel .owl-wrapper-outer.autoHeight {
    transition: height 500ms ease-in-out; /* Transición suave para el ajuste de altura */
}

/* Asegura que el carrusel se mueva correctamente sin botones */
.owl-carousel .owl-wrapper {
    display: block;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px); /* Asegura que el carrusel funcione correctamente */
    -moz-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
}

/* Cada item dentro del carrusel */
.owl-item {
    display: inline-block;
    width: 100%; /* Asegura que los items ocupen todo el espacio disponible */
}

/* Asegura que los controles no se vean en el carrusel */
.owl-controls .owl-page,
.owl-controls .owl-buttons div {
    cursor: pointer; /* Cambia el cursor para mostrar que se puede interactuar */
}

.owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; /* Desactiva la selección de texto en los controles */
    -webkit-tap-highlight-color: rgba(76, 189, 209, 0.548);
}

/* Mejora la visibilidad en dispositivos táctiles */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move; /* Establece un cursor personalizado para el movimiento */
}

/* Visibilidad para las imágenes dentro del carrusel */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item {
    -webkit-backface-visibility: hidden; /* Mejora la visibilidad en navegadores antiguos */
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0); /* Asegura que el carrusel funcione sin problemas */
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
}
