.footer {
    border-radius: .625rem .625rem 0 0;
    background-color: #fff;
    color: #333;
}

.footer h5 {
    background: #376be6;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.footer a:hover {
    color: #376be6;
}
