/* Navbar por defecto (fondo transparente pero más oscura la sombra) */
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    padding: 1rem 0;
    background-color: rgba(3, 83, 255, 0.842); /* Un poco más oscuro que antes */
    box-shadow: 0 4px 16px rgba(0, 0, 0, 1.8); /* Sombra más intensa */
}

/* Cuando hace scroll, aún más oscuro y sombra más marcada */
.navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.877); /* Mucho más oscuro */
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.7); /* Sombra fuerte */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar .navbar-brand img {
    max-height: 60px;
}

.navbar-nav .nav-link {
    color: #FFB319 !important;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #FFFF !important;
}

.navbar-toggler {
    background-color: transparent;
    border: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.03);
    }
    100% {
        transform: scale(1);
    }
}
