/*--------------------------------------------------------------
# Nosotros Seccion
--------------------------------------------------------------*/


.about .section-title {
    padding-bottom: 0;  /* Eliminado el padding para que la raya esté más cerca */
    position: relative;   /* Necesario para la línea decorativa */
}

.about .section-title h2 {
    font-size: 3rem; /* Aumentado el tamaño de la fuente a 3rem */
    font-weight: 700;
    margin: 0;  /* Elimina márgenes adicionales */
}

.about .section-title p {
    color: #c2bdbd;
    font-size: 18px; /* Hice el texto más pequeño */
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Arial', sans-serif; /* Fuente para "La Empresa" */
    position: relative; /* Necesario para colocar la línea después del p */
}

.about .section-title h2::after {
    content: "";
    width: 220px; /* Ajusté el ancho de la línea */
    height: 2px;  /* Ajusté el grosor de la línea */
    display: block;
    background: #FFB319; /* Color amarillo */
    margin-top: 0; /* Sin espacio entre el p y la línea */
}

/* Agregar margen entre el h2 y el contenido siguiente */
.container[data-aos="fade-up"] {
    margin-top: 80px; /* Ajusta este valor según lo que necesites */
}

/*--------------------------------------------------------------
# Estilos para la lista y los íconos
--------------------------------------------------------------*/
.about .content ul {
    list-style: none; /* Elimina los puntos predeterminados */
    padding: 0; /* Elimina cualquier padding adicional */
}

.about .content ul li {
    padding: 10px 0 0 0;
    display: flex;
    align-items: center; /* Asegura que los íconos estén alineados con el texto */
}

.about .content ul i {
    color: #FFB319; /* El color amarillo se aplica a los íconos */
    margin-right: 10px; /* Espacio entre el ícono y el texto */
    font-size: 1.25rem; /* Tamaño de los íconos */
}

/*--------------------------------------------------------------
# Variable de colores
--------------------------------------------------------------*/
/* Asegúrate de tener estas variables definidas */
:root {
    --default-color: #333;  /* Color oscuro por defecto */
    --accent-color: #FFB319;  /* Color amarillo de acento */
    --heading-color: #000;  /* Color de texto del encabezado */
    --contrast-color: #FFF;  /* Color contrastante para el texto */
}
